.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorContainer {
  height: 500px;
  width: 357px;
  border: 5px solid black;
  position: relative;
  overflow: hidden;
}

.backgroundImg {
  height: 500px;
}

.fg1 {
  position: absolute;
  width: 150px;
  bottom: 0;
  right: 0;
}
.fg1 {
  position: absolute;
  width: 150px;
  bottom: 0;
  right: 0;
}
.fg2 {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
}

.editorForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  min-height: 100px;
}
