.dragImg {
  position: absolute;
  width: 200px;
  cursor: pointer;
}

.textContainer {
  position: absolute;
  bottom: 100px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
